name: Run

on:
  push:
    branches:
      # deploy on updates on main
      - main
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:

    if: github.actor == github.repository_owner
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to EdgeOne Pages
      uses: TencentEdgeOne/edgeone-pages-action@v1
      with:
        token: ${{ secrets.EDGEONE_API_TOKEN }}
        project-name: "gh-img"
        build-path: "./note"
